

.gradeContainer {
  display: flex;
  margin: 20px 0 20px;
  width: 100%;
}
.gradeImageContainer{
  width: 50%;
    display: flex;
  justify-content: center;
  align-items: center;
}
.gradeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  float: left;
  font-size: 3rem;
  color: #fff;
}

.gradeText{
  width: 50%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradeText p{
  margin: 0;
  padding: 10px;
  font-size: 2rem;
  font-weight: 700;
}
  @media (max-width: 768px) {
    .gradeContainer {
      margin: 0;
    }
    .gradeImage {
      width: 7rem;
      height: 7rem;
    }
  }

#green {
  background-color: rgb(9, 205, 9);
}

#yellow {
  background-color: rgb(248, 240, 5);
}

#red {
  background-color: rgb(251, 45, 3);
}
