body{
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App{
  display: flex;
}

.sidebar {
  width: 32.5%;
}

.map{
  width: 67.5%;
}


