*{
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body{
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App{
  display: flex;
}

.sidebar {
  width: 32.5%;
  min-width: 30rem;
}

.map{
  width: 67.5%;
}

.sidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header img {
  padding-top: 5vh;
  width: 80%;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6vh;
  background-color: #4d9bee;
}
nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding-right: 10px;
  color: white;
}

.data{
  width: 100%;

}

.section {
  padding: 1.5rem;
  width: 100%;
}

.section_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section_head span{
  position: relative;
}

.section_head span::before{
  content: "";
  position: absolute;
  left: -6px;
  top: -2px;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid black;
  border-radius: 50%;
}

.section ul {
  display: flex;
}

.section ul li {
  padding-right: 10px;
}
